.container img {
    width: 50%;
    height: auto;
}

.container h2 {
    font-family: 'Montserrat';
    font-weight: 700;
}

.table {
    margin-bottom: 10%;
    border-color: black;
}

#partkeyword {
    border: 1px solid black;
}

#productkeyword {
    border: 1px solid black;
}

#about {
    position: absolute;
    right: 10%;
    top: 1%;
}

/* start of about page */
#home {
    position: absolute;
    right: 10%;
    top: 1%;
}

#about-div {
    margin: 3% 10% 0% 10%;
    text-align: center;
}

#happy-scooter {
    width: 50%;
    height: 50vh;
}


body {
    background: linear-gradient(to top, black, white 5%);
    height: 100%;
}

#body-about {
    background: linear-gradient(to top, black, white 5%);
    height: 100vh;
}